<h2><%= @user.username %></h2>
<h2><%= @album.name %></h2>

<% if is_logged_in? && logged_in_user == @user %>
  <p><%= link_to 'Upload a new photo', new_user_album_photo_path(@user, @album) %></p>
<% end %>


<ul id="photos">
	<% if !@photos.blank? %>
	  <% for photo in @photos %>
	    <li>
		  <%= link_to image_tag(photo.public_filename('thumb')), 
		              user_album_photo_path(@user, @album, photo) %>
		</li>
	  <% end %>
	<% end %>
	
  	
</ul>


